# Ignore all files with .pt extension
*.pt

# Ignore all contents within the runs/detect/ folder
runs/detect/*

# Allow the runs/detect/ folder to be committed
!runs/detect/.gitkeep

# Ignore the uploads folder and its contents
uploads/

# Ignore the .gitignore file itself
!.gitignore

# Ignore the .env file
.env
